.App {
 
  /* display: flex;
  
  justify-content: center;
  align-items: center; */
}
.form{
	display: flex;
	/* display: block; */
	justify-content: center;
  align-items: center;
	width: 100%;
}
.productOption{
	display: flex;
	width: 100%;
	justify-content: center;
  align-items: center;
}

